# 02 - preprocesado

In [ ]:
!wget --no-cache -O init.py -q https://raw.githubusercontent.com/rramosp/ai4eng.v1/main/content/init.py
import init; init.init(force_download=False); init.get_weblink()

In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '.'
!chmod 600 ./kaggle.json
!kaggle competitions download -c udea-ai4eng-20242

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/kaggle/cli.py", line 63, in main
    out = args.func(**command_args)
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 1037, in competition_download_cli
    self.competition_download_files(competition, path, force,
  File "/usr/local/lib/python3.10/dist-packages/kaggle/api/kaggle_api_extended.py", line 1000, in competition_download_files
    url = response.retries.history[0].redirect_location.split('?')[0]
IndexError: tuple index out of range

## unzip and inspect data

In [ ]:
!unzip udea*.zip > /dev/null

replace submission_example.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

In [ ]:
import pandas as pd
import numpy as np

z = pd.read_csv("train.csv")
print ("shape of loaded dataframe", z.shape)

shape of loaded dataframe (692500, 12)

In [ ]:
z

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo
...,...,...,...,...,...,...,...,...,...,...,...,...
692495,25096,20195,BIOLOGIA,LA GUAJIRA,Entre 500 mil y menos de 1 millón,Entre 11 y 20 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) incompleta,Si,medio-alto
692496,754213,20212,PSICOLOGIA,NORTE SANTANDER,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Primaria incompleta,Secundaria (Bachillerato) incompleta,No,bajo
692497,504185,20183,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,Menos de 10 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) incompleta,Si,medio-bajo
692498,986620,20195,PSICOLOGIA,TOLIMA,Entre 2.5 millones y menos de 4 millones,Menos de 10 horas,Estrato 1,No,Primaria completa,Primaria completa,Si,bajo
692499,933374,20195,PSICOLOGIA,ANTIOQUIA,Entre 5.5 millones y menos de 7 millones,Más de 30 horas,Estrato 4,Si,Secundaria (Bachillerato) completa,Técnica o tecnológica completa,No,alto

In [ ]:
z.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              692500 non-null  int64
 1   PERIODO                         692500 non-null  int64
 2   ESTU_PRGM_ACADEMICO             692500 non-null  object
 3   ESTU_PRGM_DEPARTAMENTO          692500 non-null  object
 4   ESTU_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   ESTU_HORASSEMANATRABAJA         661643 non-null  object
 6   FAMI_ESTRATOVIVIENDA            660363 non-null  object
 7   FAMI_TIENEINTERNET              665871 non-null  object
 8   FAMI_EDUCACIONPADRE             669322 non-null  object
 9   FAMI_EDUCACIONMADRE             668836 non-null  object
 10  ESTU_PAGOMATRICULAPROPIO        686002 non-null  object
 11  RENDIMIENTO_GLOBAL              692500 non-null  object
dtypes: int64(2), object(10)
memory usage: 63.4+ MB

In [ ]:
# Verificar la cantidad de valores faltantes en cada columna
print("Valores nulos por columna antes de la limpieza:")
print(z.isna().sum())

Valores nulos por columna antes de la limpieza:
ID                                    0
PERIODO                               0
ESTU_PRGM_ACADEMICO                   0
ESTU_PRGM_DEPARTAMENTO                0
ESTU_VALORMATRICULAUNIVERSIDAD     6287
ESTU_HORASSEMANATRABAJA           30857
FAMI_ESTRATOVIVIENDA              32137
FAMI_TIENEINTERNET                26629
FAMI_EDUCACIONPADRE               23178
FAMI_EDUCACIONMADRE               23664
ESTU_PAGOMATRICULAPROPIO           6498
RENDIMIENTO_GLOBAL                    0
dtype: int64

In [ ]:


# Para las columnas de texto:
z['FAMI_EDUCACIONMADRE'].values[z['FAMI_EDUCACIONMADRE'].isna()] = 'no info'
z['ESTU_VALORMATRICULAUNIVERSIDAD'].values[z['ESTU_VALORMATRICULAUNIVERSIDAD'].isna()] = 'no info'
z['FAMI_ESTRATOVIVIENDA'].values[z['FAMI_ESTRATOVIVIENDA'].isna()] = 'no info'
z['FAMI_TIENEINTERNET'].values[z['FAMI_TIENEINTERNET'].isna()] = 'no info'
z['FAMI_EDUCACIONPADRE'].values[z['FAMI_EDUCACIONPADRE'].isna()] = 'no info'


z['ESTU_HORASSEMANATRABAJA'].values[z['ESTU_HORASSEMANATRABAJA'].isna()] = '0'


z['ESTU_PAGOMATRICULAPROPIO'].values[z['ESTU_PAGOMATRICULAPROPIO'].isna()] = 'No'


print("Valores nulos por columna después de la limpieza:")
print(z.isna().sum())

Valores nulos por columna después de la limpieza:
ID                                0
PERIODO                           0
ESTU_PRGM_ACADEMICO               0
ESTU_PRGM_DEPARTAMENTO            0
ESTU_VALORMATRICULAUNIVERSIDAD    0
ESTU_HORASSEMANATRABAJA           0
FAMI_ESTRATOVIVIENDA              0
FAMI_TIENEINTERNET                0
FAMI_EDUCACIONPADRE               0
FAMI_EDUCACIONMADRE               0
ESTU_PAGOMATRICULAPROPIO          0
RENDIMIENTO_GLOBAL                0
dtype: int64

In [ ]:
agrupado_periodo = z.groupby('PERIODO', dropna=False).size()
print("Agrupación por PERIODO:")
print(agrupado_periodo)

Agrupación por PERIODO:
PERIODO
20183    164818
20184       254
20194      1472
20195    180873
20196       165
20202       490
20203    171838
20212    171412
20213      1178
dtype: int64

In [ ]:
agrupado_programa_academico = z.groupby('ESTU_PRGM_ACADEMICO', dropna=False).size()
print("\nAgrupación por ESTU_PRGM_ACADEMICO:")
print(agrupado_programa_academico)

Agrupación por ESTU_PRGM_ACADEMICO:
ESTU_PRGM_ACADEMICO
3°  CICLO PROFESIONAL NEGOCIOS INTERNACIONALES       69
ACTIVIDAD FISICA Y DEPORTE                          162
ACUICULTURA                                          79
ADMINISTRACION                                      117
ADMINISTRACION  FINANCIERA                           74
                                                  ...
TRABAJO SOCIAL                                    12686
TRADUCCION INGLES-FRANCES-ESPAÑOL                    68
TURISMO                                             222
URBANISMO                                             7
ZOOTECNIA                                          1669
Length: 948, dtype: int64

In [ ]:
agrupado_departamento = z.groupby('ESTU_PRGM_DEPARTAMENTO', dropna=False).size()
print("\nAgrupación por ESTU_PRGM_DEPARTAMENTO:")
print(agrupado_departamento)

Agrupación por ESTU_PRGM_DEPARTAMENTO:
ESTU_PRGM_DEPARTAMENTO
AMAZONAS               40
ANTIOQUIA           83607
ARAUCA                589
ATLANTICO           41020
BOGOTÁ             282159
BOLIVAR             20629
BOYACA              14048
CALDAS              11640
CAQUETA              2659
CASANARE             1852
CAUCA               11471
CESAR                8279
CHOCO                4289
CORDOBA             12188
CUNDINAMARCA        14018
GUAVIARE               37
HUILA                9995
LA GUAJIRA           4778
MAGDALENA            9512
META                 7910
NARIÑO              13454
NORTE SANTANDER     22588
PUTUMAYO              795
QUINDIO              8229
RISARALDA           12679
SAN ANDRES             10
SANTANDER           28828
SUCRE                8674
TOLIMA              11921
VALLE               44588
VAUPES                 14
dtype: int64

In [ ]:
agrupado_valor_matricula = z.groupby('ESTU_VALORMATRICULAUNIVERSIDAD', dropna=False).size()
print("\nAgrupación por ESTU_VALORMATRICULAUNIVERSIDAD:")
print(agrupado_valor_matricula)

Agrupación por ESTU_VALORMATRICULAUNIVERSIDAD:
ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Entre 4 millones y menos de 5.5 millones     69736
Entre 5.5 millones y menos de 7 millones     38490
Entre 500 mil y menos de 1 millón            78704
Menos de 500 mil                             80263
Más de 7 millones                            68014
No pagó matrícula                            19528
no info                                       6287
dtype: int64

In [ ]:
# Aplicar el mapeo utilizando map
z["ESTU_VALORMATRICULAUNIVERSIDAD"] = z["ESTU_VALORMATRICULAUNIVERSIDAD"].map({'Entre 1 millón y menos de 2.5 millones': 1.75,
 'Entre 2.5 millones y menos de 4 millones': 3.25,
 'Menos de 500 mil': .250,
 'Entre 500 mil y menos de 1 millón': .75,
 'Entre 4 millones y menos de 5.5 millones': 4.75,
 'Más de 7 millones': 7.75,
 'Entre 5.5 millones y menos de 7 millones': 6.25,
 'No pagó matrícula': 0,
 'no info': -1})

# Verificar los resultados
z["ESTU_VALORMATRICULAUNIVERSIDAD"]

0         6.25
1         3.25
2         3.25
3         4.75
4         3.25
          ...
692495    0.75
692496    3.25
692497    1.75
692498    3.25
692499    6.25
Name: ESTU_VALORMATRICULAUNIVERSIDAD, Length: 692500, dtype: float64

In [ ]:
agrupado_horas_trabajo = z.groupby('ESTU_HORASSEMANATRABAJA', dropna=False).size()
print("\nAgrupación por ESTU_HORASSEMANATRABAJA:")
print(agrupado_horas_trabajo)

Agrupación por ESTU_HORASSEMANATRABAJA:
ESTU_HORASSEMANATRABAJA
0                      147407
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Más de 30 horas        249352
dtype: int64

In [ ]:
# Aplicar el mapeo utilizando map
z["ESTU_HORASSEMANATRABAJA"] = z["ESTU_HORASSEMANATRABAJA"].map({'0': 0,
    'Menos de 10 horas': 5,
    'Entre 11 y 20 horas': 15,
    'Entre 21 y 30 horas': 25,
    'Más de 30 horas': 35,
    'No aplica': -1,
    'no info': -1,})

# Verificar los resultados
z["ESTU_HORASSEMANATRABAJA"]

0          5
1          0
2         35
3          0
4         25
          ..
692495    15
692496    35
692497     5
692498     5
692499    35
Name: ESTU_HORASSEMANATRABAJA, Length: 692500, dtype: int64

In [ ]:
agrupado_estrato_vivienda = z.groupby('FAMI_ESTRATOVIVIENDA', dropna=False).size()
print("\nAgrupación por FAMI_ESTRATOVIVIENDA:")
print(agrupado_estrato_vivienda)

Agrupación por FAMI_ESTRATOVIVIENDA:
FAMI_ESTRATOVIVIENDA
Estrato 1      111991
Estrato 2      232671
Estrato 3      210685
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
no info         32137
dtype: int64

In [ ]:


# Aplicar el mapeo utilizando map
z["FAMI_ESTRATOVIVIENDA"] = z["FAMI_ESTRATOVIVIENDA"].map({'Estrato 1': 1,'Estrato 2': 2,'Estrato 3': 3,'Estrato 4': 4,'Estrato 5': 5,
'Estrato 6': 6,"Sin Estrato":0})

# Verificar los resultados
z["FAMI_ESTRATOVIVIENDA"]

0         3.0
1         3.0
2         3.0
3         4.0
4         3.0
         ...
692495    2.0
692496    3.0
692497    3.0
692498    1.0
692499    4.0
Name: FAMI_ESTRATOVIVIENDA, Length: 692500, dtype: float64

In [ ]:
agrupado_internet = z.groupby('FAMI_TIENEINTERNET', dropna=False).size()
print("\nAgrupación por FAMI_TIENEINTERNET:")
print(agrupado_internet)

Agrupación por FAMI_TIENEINTERNET:
FAMI_TIENEINTERNET
No          73357
Si         592514
no info     26629
dtype: int64

In [ ]:

# Aplicar el mapeo utilizando map
z["FAMI_TIENEINTERNET"] = z["FAMI_TIENEINTERNET"].map({'Si': 1,
    'No': 0, })

# Verificar los resultados
z["FAMI_TIENEINTERNET"]

0         1.0
1         0.0
2         1.0
3         1.0
4         1.0
         ...
692495    1.0
692496    1.0
692497    1.0
692498    0.0
692499    1.0
Name: FAMI_TIENEINTERNET, Length: 692500, dtype: float64

In [ ]:
agrupado_educacion_padre = z.groupby('FAMI_EDUCACIONPADRE', dropna=False).size()
print("\nAgrupación por FAMI_EDUCACIONPADRE:")
print(agrupado_educacion_padre)

Agrupación por FAMI_EDUCACIONPADRE:
FAMI_EDUCACIONPADRE
Educación profesional completa           83117
Educación profesional incompleta         27084
Ninguno                                  22008
No Aplica                                 9229
No sabe                                  16592
Postgrado                                44169
Primaria completa                        55958
Primaria incompleta                     125675
Secundaria (Bachillerato) completa      128289
Secundaria (Bachillerato) incompleta     71654
Técnica o tecnológica completa           62995
Técnica o tecnológica incompleta         22552
no info                                  23178
dtype: int64

In [ ]:
z = z.copy()
z.FAMI_EDUCACIONMADRE = ['no info' if i in ['No sabe', 'No Aplica'] else i for i in z.FAMI_EDUCACIONMADRE.values]

In [ ]:
# Aplicar el mapeo utilizando map
z["FAMI_EDUCACIONPADRE"] = z["FAMI_EDUCACIONPADRE"].map({'Ninguno': 0,
    'Primaria incompleta': 1,
    'Primaria completa': 2,
    'Secundaria (Bachillerato) incompleta': 3,
    'Secundaria (Bachillerato) completa': 4,
    'Técnica o tecnológica incompleta': 5,
    'Técnica o tecnológica completa': 6,
    'Educación profesional incompleta': 7,
    'Educación profesional completa': 8,
    'Postgrado': 9,
    'No sabe': -1,
    'No Aplica': -1,
    'no info': -1,})

# Verificar los resultados
z["FAMI_EDUCACIONPADRE"]

0         5
1         6
2         4
3        -1
4         2
         ..
692495    4
692496    1
692497    4
692498    2
692499    4
Name: FAMI_EDUCACIONPADRE, Length: 692500, dtype: int64

In [ ]:
agrupado_educacion_madre = z.groupby('FAMI_EDUCACIONMADRE', dropna=False).size()
print("\nAgrupación por FAMI_EDUCACIONMADRE:")
print(agrupado_educacion_madre)

Agrupación por FAMI_EDUCACIONMADRE:
FAMI_EDUCACIONMADRE
Educación profesional completa           85326
Educación profesional incompleta         22470
Ninguno                                  14483
No Aplica                                 1918
No sabe                                   3017
Postgrado                                46246
Primaria completa                        56125
Primaria incompleta                      99420
Secundaria (Bachillerato) completa      141744
Secundaria (Bachillerato) incompleta     81012
Técnica o tecnológica completa           89542
Técnica o tecnológica incompleta         27533
no info                                  23664
dtype: int64

In [ ]:
# Aplicar el mapeo utilizando map
z["FAMI_EDUCACIONMADRE"] = z["FAMI_EDUCACIONMADRE"].map({'Ninguno': 0,
    'Primaria incompleta': 1,
    'Primaria completa': 2,
    'Secundaria (Bachillerato) incompleta': 3,
    'Secundaria (Bachillerato) completa': 4,
    'Técnica o tecnológica incompleta': 5,
    'Técnica o tecnológica completa': 6,
    'Educación profesional incompleta': 7,
    'Educación profesional completa': 8,
    'Postgrado': 9,
    'No sabe': -1,
    'No Aplica': -1,
    'no info': -1,})

# Verificar los resultados
z["FAMI_EDUCACIONMADRE"]

0         9
1         5
2         4
3         4
4         2
         ..
692495    3
692496    3
692497    3
692498    2
692499    6
Name: FAMI_EDUCACIONMADRE, Length: 692500, dtype: int64

In [ ]:
agrupado_pago_propio = z.groupby('ESTU_PAGOMATRICULAPROPIO', dropna=False).size()
print("\nAgrupación por ESTU_PAGOMATRICULAPROPIO:")
print(agrupado_pago_propio)

Agrupación por ESTU_PAGOMATRICULAPROPIO:
ESTU_PAGOMATRICULAPROPIO
No    388699
Si    303801
dtype: int64

In [ ]:
# Aplicar el mapeo utilizando map
z["ESTU_PAGOMATRICULAPROPIO"] = z["ESTU_PAGOMATRICULAPROPIO"].map({'No': 0,'Si': 1,})

# Verificar los resultados
z["ESTU_PAGOMATRICULAPROPIO"]

0         0
1         0
2         0
3         0
4         0
         ..
692495    1
692496    0
692497    1
692498    1
692499    0
Name: ESTU_PAGOMATRICULAPROPIO, Length: 692500, dtype: int64

In [ ]:
agrupado_rendimiento_global = z.groupby('RENDIMIENTO_GLOBAL', dropna=False).size()
print("\nAgrupación por RENDIMIENTO_GLOBAL:")
print(agrupado_rendimiento_global)

Agrupación por RENDIMIENTO_GLOBAL:
RENDIMIENTO_GLOBAL
alto          175619
bajo          172987
medio-alto    171619
medio-bajo    172275
dtype: int64

In [ ]:
# Aplicar el mapeo utilizando map
z["RENDIMIENTO_GLOBAL"] = z["RENDIMIENTO_GLOBAL"].map({'alto': 3, 'bajo':0, 'medio-bajo':1, 'medio-alto':2,})

# Verificar los resultados
z["RENDIMIENTO_GLOBAL"]

0         2
1         0
2         0
3         3
4         1
         ..
692495    2
692496    0
692497    1
692498    0
692499    3
Name: RENDIMIENTO_GLOBAL, Length: 692500, dtype: int64

In [ ]:
z

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,6.25,5,3.0,1.0,5,9,0,2
1,645256,20212,DERECHO,ATLANTICO,3.25,0,3.0,0.0,6,5,0,0
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,3.25,35,3.0,1.0,4,4,0,0
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,4.75,0,4.0,1.0,-1,4,0,3
4,989032,20212,PSICOLOGIA,ANTIOQUIA,3.25,25,3.0,1.0,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
692495,25096,20195,BIOLOGIA,LA GUAJIRA,0.75,15,2.0,1.0,4,3,1,2
692496,754213,20212,PSICOLOGIA,NORTE SANTANDER,3.25,35,3.0,1.0,1,3,0,0
692497,504185,20183,ADMINISTRACIÓN EN SALUD OCUPACIONAL,BOGOTÁ,1.75,5,3.0,1.0,4,3,1,1
692498,986620,20195,PSICOLOGIA,TOLIMA,3.25,5,1.0,0.0,2,2,1,0
692499,933374,20195,PSICOLOGIA,ANTIOQUIA,6.25,35,4.0,1.0,4,6,0,3